<% if ( producd.length===0) { %>
    <h2>NO HAY PRODUCTOS INGRESADOS</h2>
    <% } else { %>
        <table class="table-fixed">
            <thead>
                <tr>
                    <th class="w-1/2 px-4 py-2">Thumbnail</th>
                    <th class="w-1/4 px-4 py-2">TITULO / NOMBRE</th>
                    <th class="w-1/4 px-4 py-2">PRECIO</th>
                    <th class="w-1/4 px-4 py-2">STOCK</th>
                    <th class="w-1/4 px-4 py-2">ID</th>
                    <th class="w-1/4 px-4 py-2">Ultima Actualización</th>
                </tr>
            </thead>
            <tbody>
                <% producd.forEach(producd=> { %>
                    <tr>
                        <td class="border px-4 py-2 td-img">
                            <div class="container-img">
                                <img src="<%= producd.thumbnail %>" alt="">
                            </div>
                        </td>
                        <td class="border px-4 py-2">
                            <%= producd.titulo %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= producd.precio %>
                        </td>
                        <td class="border px-4 py-2">
                            <%= producd.stock %>
                        <td class="border px-4 py-2 id-btn">
                            <%= producd.id %>
                        </td>
                        <td class="border px-4 py-2 id-btn">
                            <%= producd.updateAt %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    <% } %>