<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio</title>
</head>
<style>
  ::-webkit-scrollbar {
    width: 0px;
  }
  body{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100vw;
  }
  form{
    height: 18rem;
  }
  .td-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    overflow: overlay;
  }
  .menu{
    margin: 1.8rem 2rem 3rem 2rem;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
  }
  .contentForm{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: -webkit-fill-available;
    height: 30rem;
    justify-content: space-around;
  }
  .tablaDeProductos{
    text-align: center;
    margin: 1.8rem 0rem 3rem 0rem;
    width: 72rem;
    border-radius: 5px;
  }
  .container-img img{
    height: 8rem;
  }
  .tbodyClass{
    height: 10rem;
    overflow: scroll;
  }
  .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
  }
  table{
    width: 55em;
  }
  .prod-cart{
    overflow: scroll;
    display: flex;
    height: 20em;
    flex-direction: column;
    justify-content: flex-start;
  }
  .w-20{width: 8rem !important;}
  .h-24{width: 10rem !important;}
</style>
<body class="bg-indigo-50">
    <%- include('./partials/menu.ejs') %>
    <div class="container mx-auto mt-10">
      <div class="flex shadow-md my-10">
        <div class="w-3/4 bg-white px-10 py-10 container-cart">
          <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Carro de compras</h1>
            <h2 class="font-semibold text-2xl">3 Items</h2>
          </div>
          <div class="flex mt-10 mb-5">
            <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Producto / Nombre</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">ID</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Stock</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Precio</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
          </div>
          <div class="prod-cart">

              <% carrito.forEach(function(carrito) { %>
                <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                  <div class="flex w-2/5"> <!-- product -->
                    <div class="w-20">
                      <img class="h-24" src="<%= carrito.thumbnail %>" alt="imagen del producto">
                    </div>
                    <div class="flex flex-col justify-between ml-4 flex-grow">
                      <span class="font-bold text-sm"> Nombre :  <%= carrito.title %> </span>
                      <span class="font-bold text-sm"> Stock :  <%= carrito.stock %> </span>
                      <span class="font-bold text-sm"> Precio :  <%= carrito.price %> </span>
                      <span class="font-bold text-sm"> Id :  <%= carrito.id %> </span>
                      <a class="font-semibold hover:text-red-500 text-gray-500 text-xs" id="removeBtn">Remove</a>
                    </div>
                  </div>
                  <span class="text-center w-1/5 font-semibold text-sm"> <%= carrito.id %> </span>
                  <div class="flex justify-center w-1/5">
                    <%= carrito.stock %>
                  </div>
                  <span class="text-center w-1/5 font-semibold text-sm"> <%= carrito.price %> </span>
                  <span class="text-center w-1/5 font-semibold text-sm"> <%= carrito.price %> </span>
                </div>
              <% }); %>

            

          </div>
          <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">
        
            <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
            Volver al inicio
          </a>
        </div>
  
        <div id="summary" class="w-1/4 px-8 py-10">
          <h1 class="font-semibold text-2xl border-b pb-8">Orden</h1>
          <div class="flex justify-between mt-10 mb-5">
              <span class="font-semibold text-sm uppercase">Items 3</span>
            <span class="font-semibold text-sm">590$</span>
          </div>
          <div class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
              <span>Total cost</span>
              <span>590$</span>
            </div>
            <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Checkout</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../carrito.js"></script>
  </body>
</html>